---
import Menu from "../icons/menu.astro";
import Cancel from "../icons/cancel.astro";
---
<header class="flex justify-between items-center w-full lg:w-[910px] mx-auto mt-2 mb-7 lg:sticky top-0 z-50 rounded-xl px-5 py-1" id="header">
    <div class="w-12 rounded-full overflow-hidden">
        <img class="w-full" src="https://lh3.googleusercontent.com/ogw/AF2bZyjZ-JS05E-AAhSoFGrcQxVButQraBPqctoxuG5RQQ=s32-c-mo" alt="" >
    </div>
 
    <label for="a" class="lg:hidden block"><Menu/></label>
    <input type="checkbox" id="a" hidden>
    <label for="a" class="lg:hidden hidden fixed top-3 right-3 p-3" id="cancel"><Cancel/></label>
    <nav class="lg:flex lg:flex-row flex flex-col gap-x-8 fixed -top-96 lg:static lg:bg-transparent bg-black gap-y-5 left-0 right-0 py-10 lg:py-0 transition-all duration-300 text-center">
        <a href="#Tecnologies" class="text-xl hover:text-blue-800 transition-all ease-in-out duration-300">Technologies</a>
        <a href="#Proyects" class="text-xl hover:text-blue-800 transition-all ease-in-out duration-300">Projects</a>
        <a href="#Contact" class="text-xl hover:text-blue-800 transition-all ease-in-out duration-300">Contact</a>
    </nav>

</header>