
<header class="flex justify-between items-center w-[1120px] mx-auto my-7">
    <img class="w-16 h-16" src="https://images.vexels.com/media/users/3/228471/isolated/preview/73c5a5212016b8ca4b491c43c475cfd8-logotipo-de-circulo-de-lobo-enojado.png" alt="">
    <nav class="flex gap-x-8">
        <a href="#Tecnologies" class="text-xl hover:text-yellow-300 transition-all ease-in-out duration-300">technologies</a>
        <a href="#Proyects" class="text-xl hover:text-yellow-300 transition-all ease-in-out duration-300">Projects</a>
        <a href="#Contact" class="text-xl hover:text-yellow-300 transition-all ease-in-out duration-300">Contact</a>
    </nav>
</header>