<div class="whitespace-nowrap px-0 overflow-x-hidden logos relative ">
    <div class="inline-block" id="animation2">
        <img class=" h-7 lg:h-16 mx-5 inline-block " src="https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png" alt="" />
        <img class=" h-7 lg:h-16 mx-5 inline-block" src="https://www.freepnglogos.com/uploads/javascript-png/javascript-logo-transparent-logo-javascript-images-3.png" alt="" />
        <img class=" h-7 lg:h-16 mx-5 inline-block" src="https://iconape.com/wp-content/png_logo_vector/redux-logo.png" alt="" />
        <img class=" h-7 lg:h-16 mx-5 inline-block" src="https://cdn.iconscout.com/icon/free/png-256/free-mongodb-5-1175140.png?f=webp" alt="" />
        <img class=" h-7 lg:h-16 mx-5 inline-block" src="https://seeklogo.com/images/T/tailwind-css-logo-89E99D7181-seeklogo.com.png" alt="" />
    </div>
    <div class="inline-block" id="animation2">
        <img class=" h-7 lg:h-16 mx-5 inline-block " src="https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png" alt="" />
        <img class=" h-7 lg:h-16 mx-5 inline-block" src="https://www.freepnglogos.com/uploads/javascript-png/javascript-logo-transparent-logo-javascript-images-3.png" alt="" />
        <img class=" h-7 lg:h-16 mx-5 inline-block" src="https://iconape.com/wp-content/png_logo_vector/redux-logo.png" alt="" />
         <img class=" h-7 lg:h-16 mx-5 inline-block" src="https://cdn.iconscout.com/icon/free/png-256/free-mongodb-5-1175140.png?f=webp" alt="" />
        <img class=" h-7 lg:h-16 mx-5 inline-block" src="https://seeklogo.com/images/T/tailwind-css-logo-89E99D7181-seeklogo.com.png" alt="" />
    </div>
</div>